h1{
  color:#71B238;
  font-family:'arial','serif';
  
  text-align:center;
}
h2{
  text-align:center;
  
  color:#6A8347;
  
}
h3{
  color:#A6CB45;
  
}
p{
  color: slategrey;
}
#intro{
  background-color:#FEFCD7;
  padding:15px 15px
}
#play{
  margin-top:35px;
  background-color: #FEFCD7;
  padding:15px 15px
  
}

#last{
  text-align:center;
}
#display{
  text-align:center;
  
}

