h1{
  color:peru;
  font-family:'arial','serif';
  
  text-align:center;
}
h2{
  text-align:center;
  
  color:saddlebrown;
  
}
h3{
  color:#A6CB45;
  
}
#intro{
  background-color:#FEFCD7
}
#play{
  margin-top:35px;
  background-color: #FEFCD7;
}